input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 12%;
    background-color: #ED4F33;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #F5B12E;
}

.input-div {
    border-radius: 20px;
    background-color:#ADD2D8;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;

}

.input-div .input-button {
    width: 12%;
    background-color: #ED4F33;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;


}
.input-div .input-button:hover {
    background-color: #F5B12E;
}